.move-up {
  animation: move-up 1s ease forwards;
}
.move-down {
  animation: move-down 0.5s ease forwards;
}

@keyframes move-up {
  0% {
    top: 60%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}
